* {
	margin: 0; 
    padding: 0;  
}
html {
	font-family: sans,sans-serif
}
body {
	
}



#navigation, #topBar {
    height: 200px;
    box-shadow: 0 5px 10px #555;
    background-color: #2196f3
}
#navigation a, #topBar a {
    display: inline-block;
    position: relative;
    top: 30%;
    left: 2.5%;
    margin: 0 3%;
    padding: 2.5%;
    width: 20%;
    text-align: center;
    font-size: 2.8em
}



#content {
    margin: 3%
}
.intro {
    float: left;
    margin: 0 1.5% 2.5%;
    width: 30%;
    min-height: 900px;
    box-shadow: -5px 5px 10px #555;
    text-align: center;
    font-size: 2em;
}
#introM {
    background-color: #ff9800
}
#introW {
    background-color: #aeea00
}
#introS {
    background-color: #00bcd4
}
.intro a, .intro p {
    display: inline-block;
    float: left;
    clear: both
}
.intro .information {
    margin: 15%
}
.intro .description {
    margin-left: 5%
}
.intro a {
    margin: 5% 0 2% 25%
}




#bottomBar {
    clear: both;
    background-color: #333
}
#bottomBar p, a {
    display: inline-block;
    padding: 0.6% 1.5%;
    color: #aaa
}
#bottomBar #sitemap {
    float: right
}